/*Header*/
.header-custom {
    background-color: #b1caa0;
}

.header-menu {
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.nav-link{
    font-size: 1rem !important;
    margin-right: 1vw;
}

.nav-link.active{
  font-weight: bold;
  color: #006747 !important;
  border-bottom: 0.2rem solid #006747;

}


/*Footer*/
.footer-custom {
    padding: 0 4vw;
    background-color: #b1caa0;
}

.contact_form {
    background-color: #b1caa0;
    font-size: 0.9rem;
    border-right: none !important;
    border: 0.1rem solid white !important;
    width: 19vw !important;
    height: 5vh;
    padding-left: 1vw;
}

.contact_form::placeholder {
    color: rgb(45, 45, 45);
}

#btn_register {
    font-size: 0.9rem;
    font-weight: none !important;
    background-color: white;
    height: 5vh;
    width: 8vw;
    border: none;
}

.content-head {
    font-family: 'Chivo', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 2vh;
    color: #006747;
    font-weight: bold;
}

.list-unstyled>a {
    display: inline-block;
    margin: 1vh 0;
}

.info_table {
    line-height: 5vh;
}

.footer-link {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.info-contact {
    font-weight: 500;
    padding-left: 1vw;
}

/* Title header: #537D5D */


#backToTop {
    z-index: 999;
}

.btn_fixed {
    font-size: 1.2rem !important;
    position: fixed;
    right: 1.4rem;
    width: 2.3%;
    height: 4.5vh;
    padding: 0 !important;
    border-radius: 3.2rem;
    background-color: #006747 !important;
}
